<?xml version="1.0"?>
<model>
  <name>traffic_cone</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Origincar</name>
    <email>origincar@example.com</email>
  </author>
  <description>
    A lightweight traffic cone model for dynamic placement in Gazebo Fortress.
  </description>
</model>
